[user]
    name = Kazuhiro Oinuma
    email = oinume@gmail.com
[color]
    ui = auto
[core]
    autocrlf = false
    editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/oinuma/.gitignore_global
[alias]
    amend     = commit --amend -a
    br = branch
    co = checkout
    ci = commit
    di = diff
    ds = diff --staged
    fetch-all = fetch -v --all
    log-fancy = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    log-me    = !UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%h %cd %s' --date=short
    log-nice  = log --graph --decorate --pretty=oneline --abbrev-commit
    st = status
#    panic     = !tar cvf ../git_panic.tar *
    wdiff     = diff --word-diff=plain
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[diff]
	tool = opendiff
	compactionHeuristic = true
[ghq]
	root = ~/workspace
